<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UWM Map Heatmap</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
    #map { height: 100vh; }
  </style>  
</head>
<body>

<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

<script>
    var map = L.map('map').setView([43.07177086067764, -89.40364892237208], 18); // Centered at UWM, Zoom level adjusted

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19}).addTo(map);

    const currentUrl = window.location.href;

    var lat = parseFloat(currentUrl.slice(30,38));
    var lng = parseFloat(currentUrl.slice(44,53));

    var marker = L.marker([lat, lng]).addTo(map);
    marker.bindPopup(popupContent);

</script>

</body>
</html>
